<%- include("partial/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
<label class="title">Title</label>
<br>
<input type="text" class="title_content" name="title">
<br>
<label class="title">Post</label>
<br>
<textarea name="postContent" row="6" cols="6" class="textArea"></textarea>
<br>
<button value="content" type="submit" class="btn btn-primary button">Publish</button>
</form>
<%- include("partial/footer") %>